<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/home_page_style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/my.js"></script>

    <title>Ballin Content</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.119/styles/kendo.default-v2.min.css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.1.119/js/kendo.all.min.js"></script>
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  
  </head>
  <style>

  </style>

  <body>
    <div id="main-container" class="container">
      <div id="content-container" class="container">
        <div class="mb-2 row">
          <div class="col text-center">
            <h1 id="title">This is a title</h1>
          </div>
        </div>
        <div class="mb-2 row">
          <div class="mb-2 col">
            <div class="col text-center">
              <div class="row text-center">
                <div class="list-group">
                  {% for row in results['parks_query'] %}

                    {% if row["park_id"] == 1 %}
                    <a href="#" name="{{ row['park_id']|string + '|' + row['latitude']|string + '|' + row['longitude']|string }}" id="select-park" class="list-group-item list-group-item-action flex-column align-items-start active">
                    {% else %}
                    <a href="#" name="{{ row['park_id']|string + '|' + row['latitude']|string + '|' + row['longitude']|string }}" id="select-park" class="list-group-item list-group-item-action flex-column align-items-start">
                    {% endif %}
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ row["park"] }}</h5>
                        <small>{{ row["address"] }}, {{ row["state"] }} {{ row["zip"] }}</small>
                      </div>
                    </a>
                  {% endfor %}
                </div>
              </div>
              <div class="row text-center" id="map">
              </div>
            </div>
          </div>
          <div class="mb-2 col-8">
            <!-- stolen from https://codepen.io/charlie7587/pen/eWLKaZ -->
            <div class="content">
              <div class="calendar-container">
                <div class="calendar">
                  <div class="year-header">
                    <span class="left-button" id="prev"> &lang; </span>
                    <span class="year" id="label"></span>
                    <span class="right-button" id="next"> &rang; </span>
                  </div>
                  <table class="months-table">
                    <tbody>
                      <tr class="months-row">
                        <td class="month">Jan</td>
                        <td class="month">Feb</td>
                        <td class="month">Mar</td>
                        <td class="month">Apr</td>
                        <td class="month">May</td>
                        <td class="month">Jun</td>
                        <td class="month">Jul</td>
                        <td class="month">Aug</td>
                        <td class="month">Sep</td>
                        <td class="month">Oct</td>
                        <td class="month">Nov</td>
                        <td class="month">Dec</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="days-table">
                    <td class="day">Sun</td>
                    <td class="day">Mon</td>
                    <td class="day">Tue</td>
                    <td class="day">Wed</td>
                    <td class="day">Thu</td>
                    <td class="day">Fri</td>
                    <td class="day">Sat</td>
                  </table>
                  <div class="frame">
                    <table class="dates-table">
                      <tbody class="tbody">
                      </tbody>
                    </table>
                  </div>
                  <button class="button" id="add-button">Select Time</button>
                </div>
              </div>
              <div class="events-container">
              </div>
              <div class="dialog" id="dialog">
                <h2 class="dialog-header">Sign Up Time</h2>
                <form class="form" id="form">
                  <div class="form-container" align="center">
                    <label class="form-label" id="valueFromMyButton" for="signup-time">Time Slot</label>
                    <input class="input" type="time" id="signup-time">
                    <label class="form-label" id="valueFromMyButton" for="count">Total People</label>
                    <input class="input" type="number" id="count" min="0" max="1000000" maxlength="7">
                    <input type="button" value="Cancel" class="button" id="cancel-button">
                    <input type="submit" value="OK" class="button" id="ok-button">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2 row text-center">
        </div>
      </div>
    </div>


  <script>
      $("#signup-time").kendoTimePicker({
          interval: 30
      });
      </script>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiiJO4007TmM6dqm6HAbhRLUa4Mzmx4yg&callback=initMap&libraries=&v=weekly"
  async
  ></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


  <script src="{{ url_for('static', filename='js/calendar_js.js') }}"></script>

  <script>
    $("#timepicker").kendoTimePicker({
        interval: 15
    });
    </script>

</html>

